html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#header {
  text-align: left;
  background: #6633ff;
  font-family: arial;
  transition: 0.6s;
}

.card {
  background: #ffffff;
  background-image: url(background.png);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: grey;
  font-family: Arial;
  transition: 0.6s;
}

.subtitle {
  color: white;
  transition: 0.6s;
}

.profile {
  height: 200px;
  border-radius: 100px;
  margin-top: 40px;
}

#git,
#email,
#linked {
  height: 66px;
  border-radius: 100px;
  margin: 10px;
}

.pictures {
  display: flex;
  justify-content: center;
  margin-left: 115px;
}

.middle {
  font-family: Arial;
  background: #6633ff;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.6s;
}

.container {
  display: flex;
  justify-content: center;
}

.habilidade {
  width: 250px;
  background: white;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.6s;
}

.fb {
  height: 50px;
}

h2 {
  text-align: center;
  font-family: Arial;
  color: #ffffff;
}

.subtitle {
  color: #555;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #27009b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 700px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.5s, background 0.3s;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*DARK MODE CSS*/

.dark-mode {
  background: rgb(19, 19, 19);
  color: white;
  background-image: url(background.png);
}
.dark-mode .odd {
  background: rgb(19, 19, 19);
  color: white;
  background-image: url(background.png);
}

.dark-mode #menu {
  background: #261168;
}

.dark-mode #skills {
  background: #261168;
}
.dark-mode .habilidade {
  color: rgb(223, 223, 223);
  background: rgb(19, 19, 19);
  transition: 0.6s;
}
